body{

   background: url('https://wallpapercat.com/w/full/6/b/4/13206-2880x1800-desktop-hd-doctor-who-background.jpg') no-repeat center center;
   background-size: cover;
   height: 100vh;
   width: 100vw; 
   background-color: darkslateblue;



}