body{
    background-color: gray;
    #div1 {
        width: 300px;
        margin: auto;
        background-color: green;
        font-family:verdana;
    }
    #botoes{
        font-family: arial;
    }

}
